* {
    margin: 0;
    padding: 0;
}

.test {
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

.nav1 {
    margin-left: 250px;
}

.nav1 ul li {
    float: left;
    margin: 0 5px;
}

.nav1 ul li a {
    display: block;
    height: 35px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 35px;
    color: #050505;
    text-decoration: none;
}

.nav1 ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

li {
    list-style: none;
}

.nav2 {
    margin-right: 250px;
    background-color: pink;
}

.nav2 ul li {
    float: right;
    margin: 0 5px;
}

.nav2 ul li a {
    display: block;
    height: 35px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 35px;
    color: #050505;
    text-decoration: none;
}

.nav2 ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

li {
    list-style: none;
}

.test2 {
    width: 1150px;
    height: 1150px;
    margin-left: 150px;
    background-color: #f5f5f5;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box ul {
    width: 1150px;
}

.box-bd ul li {
    position: relative;
    float: left;
    width: 269px;
    height: 417px;
    background-color: #ffffff;
    margin-right: 18.5px;
    margin-bottom: 15px;
}

.box-bd ul li>img {
    width: 100%;
}

.Title--iconPic--kYJcAc0 {
    margin-bottom: 2px;
    padding-right: 6px;
    vertical-align: text-bottom;
}

.Price-interface {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 20px;
    margin: 5px 0 0;
    overflow: hidden;
}

.Price--unit--VNGKLAP {
    color: #ff5000;
    font-family: AlibabaSans102v1TaoBao-Bold, Alibaba-Sans102, PingFangSC-Regular;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.Price--priceInt--ZlsSi_M {
    color: #ff5000;
    font-family: AlibabaSans102v1TaoBao-Bold, Alibaba-Sans102, PingFangSC-Regular;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.Price--priceFloat--h2RR0RK {
    color: #ff5000;
    font-family: AlibabaSans102v1TaoBao-Bold, Alibaba-Sans102, PingFangSC-Regular;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.Price--procity--_7Vt3mX,
.Price--realSales--FhTZc7U {
    font-family: AlibabaSans102v1TaoBao-Bold, Alibaba-Sans102, PingFangSC-Regular;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
    white-space: nowrap;
}

.classfix .introduce-interfaceP p {
    background-color: red;
}